<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">




    <bean id="musicPlayer"
          class="com.cursor.musicplayer.MusicPlayer">
        <constructor-arg>
            <list>
                <ref bean="classicalMusicPlayer"/>
                <ref bean="rockMusicPlayer"/>
            </list>
        </constructor-arg>
    </bean>
    <bean id="classicalMusicPlayer"
          class="com.cursor.musicplayer.ClassicalMusicPlayer">
    </bean>
    <bean id="rockMusicPlayer"
          class="com.cursor.musicplayer.RockMusicPlayer">
    </bean>



</beans>